// Variables for dark theme
$dark-theme-bg: #1e1e1e; // Background color for dark theme
$dark-theme-text-color: #ffffff; // Text color for dark theme
$dark-theme-button-color: #007bff; // Accent color for dark theme

// Variables for light theme
$light-theme-bg: #ffffff; // Background color for light theme
$light-theme-text-color: #333333; // Text color for light theme
$light-theme-button-color: #007bff; // Accent color for light theme
